*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.contain{
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg , #310833, #711577);
    color: white;
    position: relative;
}

.container{
    display: flex;
    width: 800px;
    height: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock{
    width: 100%;
    height: 100%;
    background: #0e0225;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #6a3c6d;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #947e1c;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

.clock span{
    font-size: 60px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%)
}

#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}

@media screen and (min-width: 425px) and (max-width: 900px){
    .container{
        display: flex;
        width: 350px;
        height: 155px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .clock{
        width: 100%;
        height: 100%;
        background: #0e0225;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(40px);
    }
    .container::before{
        content: '';
        width: 120px;
        height: 120px;
        background: #6a3c6d;
        border-radius: 5px;
        position: absolute;
        left: -50px;
        top: -50px;
        z-index: -1;
    }
    .container::after{
        content: '';
        width: 120px;
        height: 120px;
        background: #947e1c;
        border-radius: 50%;
        position: absolute;
        right: -30px;
        bottom: -50px;
        z-index: -1;
    }
    .clock span{
        font-size: 48px;
        width: 110px;
        display: inline-block;
        text-align: center;
        position: relative;
    }
    .clock span::after{
        font-size: 12px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%)
    }
}

@media screen and (max-width: 425px){
    .container{
        display: flex;
        width: 250px;
        height: 75px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .clock{
        width: 100%;
        height: 100%;
        background: #0e0225;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(40px);
    }
    .container::before{
        content: '';
        width: 90px;
        height: 90px;
        background: #6a3c6d;
        border-radius: 5px;
        position: absolute;
        left: -50px;
        top: -50px;
        z-index: -1;
    }
    .container::after{
        content: '';
        width: 90px;
        height: 90px;
        background: #947e1c;
        border-radius: 50%;
        position: absolute;
        right: -30px;
        bottom: -50px;
        z-index: -1;
    }
    .clock span{
        font-size: 40px;
        width: 110px;
        display: inline-block;
        text-align: center;
        position: relative;
    }
    .clock span::after{
        font-size: 10px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%)
    }
}